
#landing-background {
	position: relative;
	top: -20px;
	width: 1200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;

	img {
	position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
	}
}

#fade-08 {
	width: 320px;
	height: 80px;
	position: absolute;
	top: 460px;
}

.landing-fade {
 	position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
}

.social-icon {
	position:absolute;
	width: 56px;
	height: 56px;
  top: 570px;
  cursor: pointer;
}

#social-01 {
	left: 420px;
}

#social-02 {
	left: 570px;
}

#social-03 {
	left: 720px;
}