<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade">

		<div class="hero-slider">
			<ul class="slides">

				<!-- SLIDE -->
				<li class="bg-dark">

					<div class="slidebg slide-zoom bg-dark-50" style="background-image:url(../../assets/images/section-2.jpg)"></div>

					<div class="hs-caption container">
						<div class="caption-content">
							<div class="hs-title-size-3 font-alt m-b-20">
								We are Semantic
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-light">

					<div class="slidebg slide-zoom bg-light-50" style="background-image:url(images/section-9.jpg)"></div>

					<div class="hs-caption container">
						<div class="caption-content left">
							<div class="hs-title-size-3 font-alt m-b-20">
								Incoming call
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-dark">

					<div class="slidebg slide-zoom bg-dark-50" style="background-image:url(images/section-9.jpg)"></div>

					<div class="hs-caption container">
						<div class="caption-content right">
							<div class="hs-title-size-3 font-alt m-b-20">
								Yellow coat
							</div>
							<div class="hs-title-size-1 font-inc">
								A wonderful serenity has taken possession of my entire soul, like these<br/> sweet mornings of spring which I enjoy with my whole heart
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

			</ul>
		</div>

	</section >
	<!-- /HOME -->